@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*, ::before, ::after{
  margin:0;
  box-sizing: border-box;
}

body{
  font-family:'Oswald';

}
a, a:visited{
  text-decoration:none;
  color:black;
}
a:hover{
  color:blue;
}