body{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:#ccc;
}
canvas{
    height:720px;
    width:1280px;
    border:1px solid black;
    background-color:white;
}