*, *::before, ::after {
    box-sizing: border-box;
  }

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    height:100vh;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.searchWrapper {
    text-align: center;

    input {
        outline: none;
    }

    .locationWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .location {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            margin: 5px;
            padding:5px;
        }

        .location:hover {
            background-color: #ccc;
        }
    }
}

.weatherCardContainer {

    .weatherCardLoc {
        color:white;
        padding:5px;

        .city {
            font-size: 3rem;
        }

        .currentDate {
            font-size: 2.5rem;
        }
    }

    .currentWeather {
        display: grid;
        grid-template-columns: 2;
        
        .currentWeatherLeft {
            grid-column-start: 1;
            display: grid;
            grid-template-columns: 2;
            grid-template-rows: 2;
            color:white;

            .weatherIcon {
                grid-column-start: 1;
                grid-row-start: 2 span;
                display:flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 200px;
                }
            }

            .weatherTemp {
                grid-column-start: 2;
                font-size: 5rem;
                background:rgba(#fff, 0.4);
                padding:5px;
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
                margin-top:5px;
                margin-left:5px;
                margin-right:5px;
            }

            .weatherDesc {
                grid-column-start: 2;
                background:rgba(#fff, 0.4);
                border-bottom-left-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
                padding:5px;
                margin-left:5px;
                margin-right:5px;
                margin-bottom:5px;
                color:black;
            }
        }
        .currentWeatherRight{
            grid-column-start: 2;
            display:grid;
            grid-template-columns: 3;
            grid-template-rows: 3;
            text-align:center;
            background:rgba(#fff, 0.4);
            padding:5px;
            margin:5px;
            border-radius: 0.25rem;

            
            .currentFeels{
                grid-column-start: 1;
                grid-row-start: 1;
                display:flex;
                flex-direction:column;
                justify-content: center;
            }
            .currentWind{
                grid-column-start: 2;
                grid-row-start:1;
                display:flex;
                flex-direction:column;
                justify-content: center;
            }
            .currentSunrise{
                grid-column-start: 3;
                grid-row-start:1;
                display:flex;
                flex-direction:column;
                justify-content: center;
            }
            .currentHumidity{
                grid-column-start: 1;
                grid-row-start:2;
                display:flex;
                flex-direction:column;
                justify-content: center;
            }
            .currentPressure{
                grid-column-start: 2;
                grid-row-start:2;
                display:flex;
                flex-direction:column;
                justify-content: center;
            }
            .currentSunset{
                grid-column-start: 3;
                grid-row-start:2;
                display:flex;
                flex-direction:column;
                justify-content: center;
            }
        }
    }
    .weatherForecastWrapper{
        display:flex;
        flex-direction: row;
        justify-content: space-between;

        .weatherForecastDay{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width:200px;
            height:200px;
            background:rgba(#fff, 0.4);
            border-radius: 0.25rem;
            margin:5px;
        }

    }
}