@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Kdam Thmor Pro", sans-serif;
  background-color: #7c92bc;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0;
  transition: 1000ms opacity ease-in-out;
  transition-delay: 0ms;
}

.video[data-active] {
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.wrapper {
  max-width: 120em;
}
.wrapper .searchWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 1.3rem;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
}
.wrapper .searchWrapper input,
.wrapper .searchWrapper button {
  outline: none;
  margin: auto;
  width: 10rem;
}
.wrapper .searchWrapper .locationWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.3rem;
  flex-wrap: wrap;
}
.wrapper .searchWrapper .locationWrapper .location {
  display: flex;
  flex-direction: column;
  width: 13rem;
  margin: 0.3rem;
  padding: 0.3rem;
}
.wrapper .weatherCardContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.wrapper .weatherCardContainer .weatherCardLoc {
  color: white;
  padding: 0.3rem;
}
.wrapper .weatherCardContainer .weatherCardLoc .city {
  font-size: 3rem;
}
.wrapper .weatherCardContainer .weatherCardLoc .currentDate {
  font-size: 2.5rem;
}
.wrapper .weatherCardContainer .currentWeather {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrapper .weatherCardContainer .currentWeather .currentWeatherLeft {
  flex-grow: 1;
  color: white;
  margin: 0.6rem;
}
.wrapper .weatherCardContainer .currentWeather .currentWeatherLeft .weatherIcon img {
  width: 13rem;
}
.wrapper .weatherCardContainer .currentWeather .currentWeatherLeft .weatherTemp {
  font-size: 5rem;
  background: rgba(255, 255, 255, 0.4);
  padding: 0.3rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.wrapper .weatherCardContainer .currentWeather .currentWeatherLeft .weatherDesc {
  background: rgba(255, 255, 255, 0.4);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 0.3rem;
  color: black;
}
.wrapper .weatherCardContainer .currentWeather .currentWeatherRight {
  flex-grow: 1.2;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  padding: 0.3rem;
  margin: 0.6rem;
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.wrapper .weatherCardContainer .currentWeather .currentWeatherRight .currentFeels {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .weatherCardContainer .currentWeather .currentWeatherRight .currentWind {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .weatherCardContainer .currentWeather .currentWeatherRight .currentSunrise {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .weatherCardContainer .currentWeather .currentWeatherRight .currentHumidity {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .weatherCardContainer .currentWeather .currentWeatherRight .currentPressure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .weatherCardContainer .currentWeather .currentWeatherRight .currentSunset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .weatherCardContainer .weatherForecastWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper .weatherCardContainer .weatherForecastWrapper .weatherForecastDay {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 13rem;
  height: 13rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0.25rem;
  margin: 0.3rem;
}/*# sourceMappingURL=style.css.map */